.cm-header-1 {
	font-size: 2.5em;
}

.cm-header-2 {
	font-size: 2.0em;
}

.cm-header-3 {
	font-size: 1.5em;
}

.cm-header-4 {
	font-size: 1.3em;
}

.cm-header-5 {
	font-size: 1.15em;
}
.cm-header-6 {
	font-size: 1.0em;
}