@import url("navbar.css");
@import url("utils/document_title.css");
@import url("utils/pane_resizer.css");
@import url("viewer/viewer.css");
@import url("editor/editor.css");

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.wrapper {
    height: 100%;
	overflow: hidden;
}

#pane-container {
	/* 100% minus the height of the navbar */
	height: calc(100% - 50px);
	width: 100%;
	overflow: hidden;
}