@import url("node_modules/codemirror/lib/codemirror.css");
@import url("node_modules/codemirror/addon/dialog/dialog.css");

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.wrapper {
    height: 100%;
}

#paneContainer {
	height: 100%;
}

#editor, #viewer {
	height: 100%;
	width: 50%;
	min-width: 200px;
	max-width: calc(100% - 200px);
	display: inline-block;
}

#editor {
	float: left;
}

#editor > .CodeMirror {
	height: 100%;
    background-color: #f0f0f0;
}

#viewer {
	padding: 0 10px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    float: right;
	position: absolute;
	top: 0;
	box-sizing: border-box;
	background-color: #fff;
}

#dragbar {
	cursor: col-resize;
	width: 6px;
	float: right;
	height: 100%;
	background: lightgray;
    background: linear-gradient(to right, lightgray, white);
}

#dragbar:hover,
#dragbar:active {
  background: lightgray;
}

@media screen and (max-width: 600px) {
    #viewer {
		display: none;
	}

	#editor {
		min-width: 100%;
		max-width: 100%;
		width: 100%;
	}
}