@import url("node_modules/codemirror/lib/codemirror.css");
@import url("node_modules/codemirror/addon/dialog/dialog.css");

#editor-pane {
	height: 100%;
	width: 50%;
	display: inline-block;
}

#editor-pane {
	float: left;
    background-color: #f0f0f0;
}

#editor {
	height: 100%;
}

#editor > .CodeMirror {
	height: 100%;
	background-color: inherit;
}

#editor .CodeMirror-scroll {
	padding: 30px 20px;
}