@import url("node_modules/codemirror/lib/codemirror.css");
@import url("node_modules/codemirror/addon/dialog/dialog.css");

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.wrapper {
    height: 100%;
}

.panes {
	height: 100%;
}

.editor-pane, .viewer-pane {
	height: 100%;
	width: calc(50% - 10px);
	display: inline-block;
}

.editor-pane {
	float: left;
}

.editor-pane > .CodeMirror {
	height: 100%;
    background-color: #f0f0f0;
}

.viewer-pane {
	padding-left: 10px;
	padding-right: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    float: right;
}

.dragbar {
	cursor: col-resize;
	width: 4px;
	float: right;
	height: 100%;
	background: lightgray;
    background: linear-gradient(to right, lightgray, white);
}

@media screen and (max-width: 700px) {
    .viewer-pane {
		display: none;
	}
}