@import url("../../node_modules/codemirror/lib/codemirror.css");
@import url("../../node_modules/codemirror/addon/dialog/dialog.css");

#editor-pane {
	height: 100%;
	width: 50%;
	display: inline-block;
}

#editor-pane {
	float: left;
}

#editor {
	height: 100%;
}

#editor > .CodeMirror {
	height: 100%;
}

#editor .cm-link {
	text-decoration: none;
}

#editor .CodeMirror-lines {
	margin: 20px 15px;
}